

 <div class="search-field">
            <form class="search" action="/search">
             
              <input type="text" name="q" class="search_box" placeholder="" value="{{ search.terms }}"  />
         
              <input class="sb-search-submit" type="submit" value="" id="go">
							<span class="sb-icon-search"></span>
             
         

   </form>
 </div>