<div class="full_width" id="page">

  <h2 class="page_title">
    {{ page.title }}
  </h2>
    
<div class="full_width">
<script type="text/javascript">
function download(d) {
  if (d !== '') {
    window.open(d,'_blank');
  }
}
</script>
<div class="select_pdf">

<div class="pdf">Operation Manual</div>
<select name="download" onChange="download(this.value)">
<option>Select Language</option>
<option value="https://cdn.shopify.com/s/files/1/1155/1024/files/Testing.PDF?10534432914798146897">English</option>
<option value="https://cdn.shopify.com/s/files/1/1155/1024/files/Testing.PDF?10534432914798146897">Spanish</option> 
<option value="https://cdn.shopify.com/s/files/1/1155/1024/files/Testing.PDF?10534432914798146897">French</option>
<option value="https://cdn.shopify.com/s/files/1/1155/1024/files/Testing.PDF?10534432914798146897">Italian</option>
<option value="https://cdn.shopify.com/s/files/1/1155/1024/files/Testing.PDF?10534432914798146897">German</option>
<option value="https://cdn.shopify.com/s/files/1/1155/1024/files/Testing.PDF?10534432914798146897">Russian</option>
<option value="https://cdn.shopify.com/s/files/1/1155/1024/files/Testing.PDF?10534432914798146897">Chinese</option>
</select>
</div>


  
<div class="select_pdf">

<div class="pdf">Qucikstart Manual</div>
<select name="download" onChange="download(this.value)">
<option>Select Language</option>
<option value="https://cdn.shopify.com/s/files/1/1155/1024/files/Testing.PDF?10534432914798146897">English</option>
<option value="https://cdn.shopify.com/s/files/1/1155/1024/files/Testing.PDF?10534432914798146897">Spanish</option> 
<option value="https://cdn.shopify.com/s/files/1/1155/1024/files/Testing.PDF?10534432914798146897">French</option>
<option value="https://cdn.shopify.com/s/files/1/1155/1024/files/Testing.PDF?10534432914798146897">Italian</option>
<option value="https://cdn.shopify.com/s/files/1/1155/1024/files/Testing.PDF?10534432914798146897">German</option>
<option value="https://cdn.shopify.com/s/files/1/1155/1024/files/Testing.PDF?10534432914798146897">Russian</option>
<option value="https://cdn.shopify.com/s/files/1/1155/1024/files/Testing.PDF?10534432914798146897">Chinese</option>
</select>
</div>
  
  
<div class="select_pdf">

<div class="pdf">Lorem Ipsum Doler</div>
<select name="download" onChange="download(this.value)">
<option>Select Language</option>
<option value="https://cdn.shopify.com/s/files/1/1155/1024/files/Testing.PDF?10534432914798146897">English</option>
<option value="https://cdn.shopify.com/s/files/1/1155/1024/files/Testing.PDF?10534432914798146897">Spanish</option> 
<option value="https://cdn.shopify.com/s/files/1/1155/1024/files/Testing.PDF?10534432914798146897">French</option>
<option value="https://cdn.shopify.com/s/files/1/1155/1024/files/Testing.PDF?10534432914798146897">Italian</option>
<option value="https://cdn.shopify.com/s/files/1/1155/1024/files/Testing.PDF?10534432914798146897">German</option>
<option value="https://cdn.shopify.com/s/files/1/1155/1024/files/Testing.PDF?10534432914798146897">Russian</option>
<option value="https://cdn.shopify.com/s/files/1/1155/1024/files/Testing.PDF?10534432914798146897">Chinese</option>
</select>
</div>  
  
  
<div class="select_pdf">

<div class="pdf">Lorem Ipsum Doler</div>
<select name="download" onChange="download(this.value)">
<option>Select Language</option>
<option value="https://cdn.shopify.com/s/files/1/1155/1024/files/Testing.PDF?10534432914798146897">English</option>
<option value="https://cdn.shopify.com/s/files/1/1155/1024/files/Testing.PDF?10534432914798146897">Spanish</option> 
<option value="https://cdn.shopify.com/s/files/1/1155/1024/files/Testing.PDF?10534432914798146897">French</option>
<option value="https://cdn.shopify.com/s/files/1/1155/1024/files/Testing.PDF?10534432914798146897">Italian</option>
<option value="https://cdn.shopify.com/s/files/1/1155/1024/files/Testing.PDF?10534432914798146897">German</option>
<option value="https://cdn.shopify.com/s/files/1/1155/1024/files/Testing.PDF?10534432914798146897">Russian</option>
<option value="https://cdn.shopify.com/s/files/1/1155/1024/files/Testing.PDF?10534432914798146897">Chinese</option>
</select>
</div>
  
  
  
<div class="select_pdf">

<div class="pdf">Lorem Ipsum Doler</div>
<select name="download" onChange="download(this.value)">
<option>Select Language</option>
<option value="https://cdn.shopify.com/s/files/1/1155/1024/files/Testing.PDF?10534432914798146897">English</option>
<option value="https://cdn.shopify.com/s/files/1/1155/1024/files/Testing.PDF?10534432914798146897">Spanish</option> 
<option value="https://cdn.shopify.com/s/files/1/1155/1024/files/Testing.PDF?10534432914798146897">French</option>
<option value="https://cdn.shopify.com/s/files/1/1155/1024/files/Testing.PDF?10534432914798146897">Italian</option>
<option value="https://cdn.shopify.com/s/files/1/1155/1024/files/Testing.PDF?10534432914798146897">German</option>
<option value="https://cdn.shopify.com/s/files/1/1155/1024/files/Testing.PDF?10534432914798146897">Russian</option>
<option value="https://cdn.shopify.com/s/files/1/1155/1024/files/Testing.PDF?10534432914798146897">Chinese</option>
</select>
</div>  
  
 </div>
</div>

