<div class="tabs">
<ul class="tabs">
     {% if product.handle contains 'lenzo-iphone-6-6s-housing-pre-order' %}
<li><a href="#tab-1">Product Details</a></li>
<li><a href="#tab-2">FAQ</a></li>
  {%endif%}
       {% if product.handle contains 'lenzo-iphone-6-plus-6s-plus-housing-pre-order' %}
<li><a href="#tab-3">Product Details</a></li>
<li><a href="#tab-4">FAQ</a></li>
{%endif%}
</ul>
<div class="tabcontent">
     {% if product.handle contains 'lenzo-iphone-6-6s-housing-pre-order' %}
<div id="tab-1"><strong>ORDERING OPEN FOR FIRST RUN - SHIPPING MARCH 2016</strong>
<p>Ordering is now opened for a limited number of units for US $295 (plus applicable taxes and/or shipping). Expected shipping is March, 2016. Please review the <a href="http://www.valstech.com/pages/terms66s">Terms and Conditions here.</a> By making this purchase, you hereby agree to these terms.</p>
</div>
<div id="tab-2"><strong>PRODUCT HIGHLIGHTS</strong>
<ul>
<li><span style="line-height: 1.4;">Optical dome lens designed for smartphone use, both on land and underwater with no distortion or soft corners<br /></span></li>
<li><span style="line-height: 1.4;">Ergonomically designed controls with access to all smartphone camera functions, and shooting modes (stills, video, bursts, panoramic, time-lapse, and square)<br /></span></li>
<li><span style="line-height: 1.4;">On/Off control saves battery and reduces overheating<br /></span></li>
<li>Two internal UR Pro color correction filters for accurate underwater colors</li>
<li><span style="line-height: 1.4;">No special apps to install. Works with native camera app.<br /></span></li>
<li>Depth rated and tested to 100 meters (330 ft)</li>
</ul>
</div>
  {%endif%}
{% if product.handle contains 'lenzo-iphone-6-plus-6s-plus-housing-pre-order' %}
 <div id="tab-3">
<div><strong>PRE-ORDER YOUR LENZO™ iPHONE 6 PLUS / 6S PLUS NOW!</strong></div>
<div>Pre-ordering is now open for the latest LenzO™ housing, for the iPhone 6 Plus/ 6S Plus! The pre-order requires a $30 deposit (plus any applicable tax and or shipping), and will leave a balance of $265 (plus shipping and any applicable taxes). Expected shipping is May-June, 2016. Please review the <a href="http://www.valstech.com/pages/pre-order-terms-and-conditions">Terms and Conditions here</a>. By making this purchase, you hereby agree to these terms.</div>
</div>
<div id="tab-4">
<div><strong>PRODUCT HIGHLIGHTS</strong></div>
<ul>
<li><span>Optical dome lens designed for smartphone use, both on land and underwater with no distortion or soft corners<br /></span></li>
<li><span>Ergonomically designed controls with access to all smartphone camera functions, and shooting modes (stills, video, bursts, panoramic, time-lapse, and square)<br /></span></li>
<li><span>On/Off control saves battery and reduces overheating<br /></span></li>
<li>Two internal UR Pro color correction filters for accurate underwater colors</li>
<li><span>No special apps to install. Works with native camera app.<br /></span></li>
<li>Depth rated and tested to 100 meters (330 ft)</li>
</ul>

</div>
{%endif%}
</div>
</div>

 <script>
  $(document).ready(function() {
    $('ul.tabs').each(function(){
      var active, content, links = $(this).find('a');
      active = links.first().addClass('active');
      content = $(active.attr('href'));
      links.not(':first').each(function () {
        $($(this).attr('href')).hide();
      });
      $(this).find('a').click(function(e){
        active.removeClass('active');
        content.hide();
        active = $(this);
        content = $($(this).attr('href'));
        active.addClass('active');
        content.show();
        return false;
      });
    });
  });
</script>

<style>
  
.tabs {
    float: left;

    width: 100%;

}
ul.tabs {
border:none;
  display: block;
  margin: 0px 0;
  padding: 0;
}
ul.tabs li {
  display: block;
  float: left;
  height: 44px;
  margin-bottom: 0;
  padding: 0;
  width: auto;
}
ul.tabs li a {
 
  color: #000;
box-sizing:unset;
    font-size: 14px;
    font-weight: 400;
 padding: 10px 17px;
    text-decoration: none;
    width: auto;
}
ul.tabs li a.active {

    border-left-width: 1px;
    border-top-left-radius: 2px;
    color: #2061bc;
    position: relative;
    top: 0; 
}
ul.tabs li:first-child a.active {
  margin-left: 0;
}
ul.tabs li:first-child a {
  border-top-left-radius: 2px;
  border-width: 1px 1px 0;
}
ul.tabs li:last-child a {
  border-top-right-radius: 2px;
}
ul.tabs:before, ul.tabs:after {
  content: " ";
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
}
ul.tabs:after {
  clear: both;
}
  
.tabcontent {
   border: 1px solid #ddd;
    box-sizing: padding-box;
    float: left;
    padding: 21px;
    width: 100%;
}
</style>