 {% if settings.display_related_products %}
    {% capture limit %}{{ settings.products_per_row | plus: 1 }}{% endcapture %}

    {% if collection and collection.all_products_count > 1 %}
      {% assign col = collection.handle %}
    {% else %}
      {% assign col = product.collections.last.handle %}
    {% endif %}

    {% for tag in product.tags %}
      {% if tag contains 'meta-related-collection-' %}
        {% assign col = tag | remove: 'meta-related-collection-' %}
        {% assign collection = collections[col] %}
        {% capture limit %}{{ collection.products_count | plus: 1 }}{% endcapture %}
      {% endif %}
    {% endfor %}
      
    {% if col and collections[col].all_products_count > 0 %}
     
  <div class="related-title">
 	<h4 class="title center">{{ 'products.product.related_items' | t }}</h4>
    <p class="bottom-border"></p>
 </div>

      {% assign skip_product = product %}
      {% assign products = collections[col].products %}
      {% assign products_per_row = settings.products_per_row %}
      {% include 'product-loop' with settings.product_sidebar %}
    {% endif %}
  {% endif %}