

@media screen and (max-width: 1920px) 
{

}
@media screen and (max-width: 1600px) 
{

}
@media screen and (max-width: 1440px) 
{
 
}

@media screen and (max-width: 1366px) 
{

}

@media screen and (max-width: 1024px) 
{
.fixed_width, #homepage_slider .flex-caption .fixed_width {width:96%;}
.container {width:98%;}
#mobile_width{width:100%;} 
#homepage_bottom_section .fixed_width .one-fifth.column{width:16%; margin: 0 7px 0 0;}
#homepage_slider{margin:0px;}
.container .twelve.columns{width:740px;}
#page .fixed_width > iframe{margin:0px 3px 10px;}
.homepage_content{ text-align:center;}
.example1 li img { width: 80%;}
.home_blue_left{font-size:26px;}
.slidenav img {width: 90%;}
.slidenav{top:44%;}
}

@media screen and (max-width: 768px) 
{
  .sub-footer .social_icons a, .sub-footer .social_icons a:visited{font-size:15px; padding:7px;} 
  .sub-footer .social_icons li{padding-right:6px;}
  .header .container .four.columns { width: 94px;}
.container .twelve.columns {width: 610px; float:right;}
.homepage_products .relative.product_image, .collection-one .relative.product_image{height:auto;}
  .homepage_products .relative.product_image img, .collection-one .relative.product_image img{width:100%; height:auto;}
  .index .header .nav .main_menu a, .header .nav .main_menu a{padding:18px 8px;}
.slidenav {
    top:36%;
}
  .slidenav img {
    width: 60%;
}
  .carousel-frame{margin-left:28px; height:auto!important;}
  .example1 li img {
    width: 60%;
}
  .example1 > li {
    height: auto !important;
}
  .example1{height:auto!important;}
}

@media screen and (max-width:766px) 
{
  .homepage_product_left{width:100%;}
  .homepage_product_right{width:100%;}
  #header a.right span{display:none;}
  #header a{color:#fff;}
  .mm-logo{float:left;width:80%; text-align:center;}
  .mm-logo a img{float:none;}
  .header.mm-fixed-top{display:none;}
  .mobile_logo{float:left; width:78%; text-align:center;}

  #header a{position:relative;}
  .iconmenu {
    float: left;
}
  .mobile-cart{float:right;}
  #header {
    display: block;
    float: left;padding:0px 10px 14px;
    height: auto;
    width: 100%;
}
  #homepage_slider{padding-top:51px;}
  div.content{padding-top:95px;}
.container {width:96%;}
  #video_section iframe{height:auto; max-height:auto;} 
  #page .fixed_width > iframe {
    margin: 0 7px 20px; width: 47%;
}
 #header .right.mobile-cart.icon-cart.cart-button{padding-top:15px;}  
  .product .sixteen.columns {
    width: 100%;
}
  #related_products .product_block{width:48%;}
  .home_blue_left{width:100%;}
  .home_blue_right{width:100%; padding:20px 0 0; float:left;}
  .home_blue_right_inner{margin:0 auto; width:100px;}

   .homepage_content h3, #homepage_image_section, #homepage_product_section h2{font-size:18px; line-height:22px;}
.home_product_section h2{font-size:20px;}
  
    .product_left, .product_right{float:left; width:100%;} 
  #homepage_top_section{padding:20px 0 0;}
 
  .homepage_product_right{margin-top:30px;}
  .home_product_section{background-position:0 0;}
  
  .home_product_section p{padding:6px 0px;}

  #homepage_image_section{padding:30px 0 0;}
  #homepage_bottom_section .fixed_width .one-fifth.column{margin-right:2%; width:32%;}
  #homepage_bottom_section .fixed_width .one-fifth.column:nth-child(3n+3){margin-right:0px;}
  div.content{padding-top:64px;}
  #img_thumbs > li:last-child {
    margin: 0;
}
#img_thumbs li {
    float: left;
    margin-right: 1%;
    width: 15.8%;
}
  .ten.columns.cart_items {
    float: left;
    width: 100%;
}
  .cart .five.columns.alpha {
    float: left;
    width: 30%;
}

.cart .five.columns.omega {
    float: right;
    width: 68%;
}
  .customers-account .container .twelve.columns{width:100%;}
  .carousel-frame{margin-left:70px;}
  .example1 li img{width:100%;}
  .slidenav img{width:100%;}
  .homepage_product_right #jssor_1 {
    left: -8px !important;
}
  #gallery_thumbs li{width:32%; margin-right:2%;}
  #gallery_thumbs > li:nth-child(3n+3) {
    margin-right: 0;
}
  #video_thumbs li{width:48%;}
  #video_thumbs li:nth-child(3n+3){margin-right:2%;}
  #video_thumbs li:nth-child(2n+2){margin-right:0px;}
  #search_text{width:100%;}
}
@media screen and (max-width:638px) 
{
  .homepage_image_responsive{display:block;}
  .left_img_slider{display:none;}
}

@media screen and (max-width:480px) 
{
  .product_block{width:100%;} 
  .collection_top_right, .collection_top_left{width:100%; padding:5px 0px; text-align:center;}
  .footer_block, .footer_block:last-child{float:left; width:100%; margin:0px;}
  .homepage_products .relative.product_image, .collection-one .relative.product_image{height:auto;min-height:0px;}
  #homepage_bottom_section .fixed_width .one-fifth.column{margin-right:9px;}
    .product_block{margin-bottom:30px;}
  #page .fixed_width > iframe {
    margin: 0 0 15px 0;
    min-height: 248px; width:100%;
}
  .homepage_products .relative.product_image img, .collection-one .relative.product_image img{height:auto;}
  .footer_block .contact-form{width:100%;}
  .flex-control-thumbs li, .flex-control-thumbs li:first-child {
    margin: 15px 1% 0 0;
    vertical-align: top;
    width: 24%;
}
 #homepage_image_section, #homepage_product_section h2,  .homepage_content h3{font-family:15px;}
  .lenzo_logo_wrapper{float:left; width:100%;}
  .homepage_image_responsive img{margin:0; width:100%;}
  #gallery_thumbs li {
    float: left;
    margin-bottom: 10px;
    margin-right: 3%;
    width: 47%;
}
  #gallery_thumbs > li:nth-child(3n+3){  margin-right: 3%;}
    #gallery_thumbs > li:nth-child(2n+2){  margin-right: 0;}
    #video_thumbs li{width:100%; margin:0px!important;}

}
@media screen and (max-width:414px) 
{
 .fixed_width, #homepage_slider .flex-caption .fixed_width,  .container {width:92%;}
#homepage_bottom_section .fixed_width .one-fifth.column {
    float: left;
    margin: 0;
    text-align: center;
width:48%;
}
  #homepage_bottom_section .fixed_width .one-fifth.column img{max-width:260px;}
  #homepage_bottom_section h4.title a{font-size:18px;}

    #homepage_bottom_section .fixed_width .one-fifth.column:nth-child(3n+3), #homepage_bottom_section .fixed_width .one-fifth.column{ margin: 0 12px 0 0;}
    #homepage_bottom_section .fixed_width .one-fifth.column:nth-child(2n+2){margin-right:0px;}
  #homepage_product_section{padding:20px 0px;}
#page .fixed_width > iframe {

    min-height: 220px; height:auto;
}
 #img_thumbs > li:last-child {
    margin: 0 2% 10px;
}
  #homepage_bottom_section{padding:20px 0px;}
  .home_product_section {
    background-position: 0 5px;
    background-size: 30px auto;}
  #productimags h4, .related-title .title{font-size:20px;} 
  #related_products .product_block{width:100%; margin:0px;}
  #related_products, #productimags{padding:20px 0px;}
#img_thumbs li {
    float: left;
    margin: 0 2% 10px;
    width: 46%;
}
  h1, h2, h1.home, h1.blog_title, h3, h4, h5, h6, .title a{font-size:130%;}
  .cart .sixteen.columns.clearfix.collection_nav {
    float: left;
    padding-top: 20px; margin-bottom:0px;
    width: 100%;
}
  
  .mm-list > li > a, .mm-list > li > span{padding:10px;}  
  .cart_image {
    width: 28% !important;
}
  .cart_item div {
    float: left;
    margin-right: 3%;
    width: 46%;
}
  .select_pdf select{margin-left:0px; width:100%;}
  .select_pdf .pdf{width:100%; margin-bottom:10px;}
  
}

@media screen and (max-width:320px) 
{
#cart a.edit_cart, #cart a.action_button {
    font-size: 12px;
    padding: 7px;
    width: inherit;
}  
  #homepage_bottom_section .fixed_width .one-fifth.column{width:48%;}
#homepage_bottom_section .fixed_width .one-fifth.column:nth-child(3n+3), #homepage_bottom_section .fixed_width .one-fifth.column{ margin: 0 11px 0 0;}
  #homepage_bottom_section .fixed_width .one-fifth.column:nth-child(2n+2){margin-right:0px;}
}