<div class="tabs">
<ul class="tabs">
<li><a href="#tab-1">Description</a></li>
<li><a href="#tab-2">Specifications</a></li>
<li><a href="#tab-3">Accessories</a></li>
<li><a href="#tab-4">Warranty</a></li>

</ul>
<div class="tabcontent">
{{product.description}}


</div>
</div>

 <script>
  $(document).ready(function() {
    $('ul.tabs').each(function(){
      var active, content, links = $(this).find('a');
      active = links.first().addClass('active');
      content = $(active.attr('href'));
      links.not(':first').each(function () {
        $($(this).attr('href')).hide();
      });
      $(this).find('a').click(function(e){
        active.removeClass('active');
        content.hide();
        active = $(this);
        content = $($(this).attr('href'));
        active.addClass('active');
        content.show();
        return false;
      });
    });
  });
</script>

<style>
  
.tabs {
    float: left;
    margin-top: 40px;
    width: 100%;

}
ul.tabs {
border:none;
  display: block;
  margin: 0px 0;
  padding: 0;
}
ul.tabs li {
  display: block;
  float: left;
  height: 39px;
  margin-bottom: 0;
  padding: 0;
  width: auto;
}
ul.tabs li a {
 
  color: #000;

    font-size: 14px;
    font-weight: 400;
 padding: 5px 17px;
    text-decoration: none;
    width: auto;
}
ul.tabs li a.active {
box-sizing:unset;
    border-left-width: 1px;
    border-top-left-radius: 2px;
    color: #2061bc;
    position: relative;
    top: 0; 
}
ul.tabs li:first-child a.active {
  margin-left: 0;
}
ul.tabs li:first-child a {
  border-top-left-radius: 2px;
  border-width: 1px 1px 0;
}
ul.tabs li:last-child a {
  border-top-right-radius: 2px;
}
ul.tabs:before, ul.tabs:after {
  content: " ";
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
}
ul.tabs:after {
  clear: both;
}
  
.tabcontent {
   border: 1px solid #ddd;
    box-sizing: padding-box;
    float: left;
    padding: 21px;
    width: 100%;
}
</style>